[user]
	name = Benjamin Staffin
	useconfigonly = true
	email = benley@gmail.com
[core]
	hooksPath = ~/.githooks
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://code.xkrd.net/"]
	insteadOf = git@git.xkrd.net:
