[user]
	name = Benjamin Staffin
	useconfigonly = true
	email = benley@gmail.com
	signingKey = FDBA38EE781A69D439A870A5A490C0134E09AF4A
[commit]
	gpgSign = true
[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.githooks
[gpg]
	program = gpg2
[gitreview]
	username = ben
[color]
	ui = auto
	diff = auto
	status = auto
	showbranch = auto
	interactive = auto
[diff]
	guitool = gvimdiff
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[gui]
	warndetachedcommit = true
[push]
	default = nothing
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts gvim \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
	keepBackup = false
[rerere]
	enabled = true
[http]
	cookiefile = ~/.gitcookies
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
