# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html#SEC10
# http://www.gnu.org/software/bash/manual/html_node/Miscellaneous-Commands.html

set visible-stats on
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
# This gets messy with my two-line prompt for some reason so I turned it off:
set mark-modified-lines off
set bell-style visible
set menu-complete-display-prefix on
set skip-completed-text on

# Immediately add / after tab-completed directories that are symlinks
#set mark-symlinked-directories on

# Holy cow awesome
set blink-matching-paren on

# Colorful completion list display
set colored-stats on

# You'd think I would set this to vi, but that actually drives me crazy.
set editing-mode emacs

# Add quotes/parens/braces/brackets/chevrons around the current or previous word
"\C-x\'": "\eb'\ef'"
"\C-x\"": "\eb\"\ef\""
"\C-x(": "\eb(\ef)"
"\C-x[": "\eb[\ef]"
"\C-x{": "\eb{\ef}"
"\C-x<": "\eb<\ef>"

# Macros that are convenient for shell interaction
$if Bash
# edit the path
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"

# insert open and close double quotes
# and move to just after the open quote
#"\C-x\"": "\"\"\C-b"

# insert a backslash (testing backslash escapes
# in sequences and macros)
#"\C-x\\": "\\"

# Add a binding to refresh the line (normally not bound to a key)
"\C-xr": redraw-current-line

# Edit variable on current line (e.g. type PS1, hit ctrl-meta-v)
"\C-\M-v": "\C-a\C-k$\C-y\C-\M-e\C-a\C-y="

# tab does normal completion, and ctrl-meta-j/k do menu completion.
"\C-\M-j": menu-complete
"\C-\M-k": menu-complete-backward
TAB: complete

# Holy fucking shit
Space: magic-space
$endif
