Xcursor.size: 64
Xcursor.theme: breeze_cursors

Xft.dpi: 144

! Xft.antialias: true
! Xft.autohint: 0
! Xft.hinting: 1
! Xft.hintstyle: hintslight
! Xft.lcdfilter: lcddefault
! Xft.rgba: rgb

XTerm.vt100.renderFont: true
XTerm.vt100.background: black
XTerm.vt100.colorMode: true
XTerm.vt100.cursorColor: #ccccff
XTerm.vt100.faceName: PragmataPro Mono
XTerm.vt100.faceSize: 11.0
XTerm.vt100.font: fixed
XTerm.vt100.foreground: white
XTerm.vt100.geometry: 80x40
XTerm.vt100.scrollBar: false

!! Allow the use of Alt key for shortcuts
XTerm*metaSendsEscape: true

!! This section is from davean:
! URxvt.reverseVideo: true
! URxvt.scrollBar: false
! URxvt.saveLines: 10000
! URxvt.fading: 25
! URxvt.font: xft:inconsolata-8,xft:unifont
! !,xft:terminus
! URxvt.boldFont: xft:inconsolata-8:bold,xft:unifont
! URxvt.visualBell: true
! URxvt.urlLauncher: google-chrome
! URxvt.underlineURLs: true
! URxvt.perl-lib: /home/davean/.urxvt-perl/
! URxvt.perl-ext-common: url-select
! URxvt.termName: rxvt-unicode
! URxvt.cursorBlink: 1
! URxvt.cursorUnderline: 1
! URxvt.colorUL: #4682B4
