[user]
	name = Benjamin Staffin
	email = benley@gmail.com
[core]
	excludesfile = /Users/benley/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gitreview]
	username = ben
[color]
	ui = auto
	diff = auto
        pager = true
	status = auto
        showbranch = auto
        interactive = auto
[diff]
	guitool = gvimdiff
	tool = vimdiff
