[user]
	name = Benjamin Staffin
	email = benley@gmail.com
[core]
	excludesfile = /Users/benley/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gitreview]
	username = ben
[color]
	ui = auto
	diff = auto
	status = auto
	showbranch = auto
	interactive = auto
[diff]
	guitool = gvimdiff
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[gui]
	warndetachedcommit = true
[init]
	templatedir = /home/benley/.git_template
[push]
	default = nothing
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts gvim \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
	keepBackup = false
[rerere]
	enabled = true

[s3]
        asdf-secret = asdfljasdf
