# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html#SEC10

set visible-stats on
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
set mark-modified-lines on
set bell-style visible
