XTerm.vt100.cursorColor: #ccccff
XTerm.vt100.colorMode: true
XTerm.vt100.font: fixed
XTerm.vt100.scrollBar: false

!! XTerm.vt100.background: black
!! XTerm.vt100.foreground: white
XTerm.vt100.geometry: 80x40

!! XTerm.vtMenu.background: green
!! XTerm.fontMenu.background: blue
!! XTerm.mainMenu.background: red

Aterm.termName: xterm
Aterm.transparent: true
Aterm.shading: 30
Aterm.transpscrollbar: true
Aterm.scrollBar: false
Aterm.font: fixed
Aterm.saveLines: 15000
Aterm.geometry: 80x40
!! Aterm.color0: Black
!! Aterm.color1: Red3
!! Aterm.color2: Green3
!! Aterm.color3: Yellow3
!! Aterm.color4: Blue3
!! Aterm.color5: Magenta3
!! Aterm.color6: Cyan3
!! Aterm.color7: AntiqueWhite
!! Aterm.color8: Grey25
!! Aterm.color9: Red
!! Aterm.color10: LimeGreen
!! Aterm.color11: Yellow
!! Aterm.color12: Slateblue
!! Aterm.color13: Magenta
!! Aterm.color14: Cyan
!! Aterm.color15: White
!! Aterm.foreground: MintCream
!! Aterm.background: Black

!! wterm.foreground: MintCream
!! wterm.background: Black
wterm.geometry: 80x40
wterm.font: fixed
!! wterm.color0: Black
!! wterm.color1: Red3
!! wterm.color2: Green3
!! wterm.color3: Yellow3
!! wterm.color4: Blue3
!! wterm.color5: Magenta3
!! wterm.color6: Cyan3
!! wterm.color7: AntiqueWhite
!! wterm.color8: Grey25
!! wterm.color9: Red
!! wterm.color10: LimeGreen
!! wterm.color11: Yellow
!! wterm.color12: Slateblue
!! wterm.color13: Magenta
!! wterm.color14: Cyan
!! wterm.color15: White
wterm.scrollBar: false

!! solarized xdefaults is the worst idea ever. STOP WANTING THAT.
