[project]
	description = My various login scripts, dotfiles, and other random toys that make my unix environments pleasant.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benjamin Staffin (benley)
[access "refs/for/refs/*"]
	read = group user/Benjamin Staffin (benley)
	push = group user/Benjamin Staffin (benley)
	label-Code-Review = -2..+2 group user/Benjamin Staffin (benley)
	label-Verified = -1..+1 group user/Benjamin Staffin (benley)
	rebase = group user/Benjamin Staffin (benley)
	removeReviewer = group user/Benjamin Staffin (benley)
	submit = group user/Benjamin Staffin (benley)
[access "refs/heads/*"]
	read = group user/Benjamin Staffin (benley)
	create = group user/Benjamin Staffin (benley)
	push = +force group user/Benjamin Staffin (benley)
	pushMerge = group user/Benjamin Staffin (benley)
[access "refs/tags/*"]
	push = +force group user/Benjamin Staffin (benley)
	pushTag = group user/Benjamin Staffin (benley)
	pushSignedTag = group user/Benjamin Staffin (benley)
