/auto-save-list/
/bookmarks
/elpa/
/ido.last
/.emacs.desktop
/url/cookies
/games/
/forge-database.sqlite
/places
/smex-items
/.cache/
/transient/
/projectile-bookmarks.eld
.lsp-session-v1
.org-id-locations
/eshell/
/tramp
