
style "taffybar-default" {
  color["base00"] = "#263238"
  color["base01"] = "#2c393f"
  color["base02"] = "#37474f"
  color["base03"] = "#707880"
  color["base04"] = "#c9ccd3"
  color["base05"] = "#cdd3de"
  color["base06"] = "#d5dbe5"
  color["base07"] = "#ffffff"
  color["base08"] = "#ec5f67"
  color["base09"] = "#ea9560"
  color["base0a"] = "#ffcc00"
  color["base0b"] = "#8bd649"
  color["base0c"] = "#80cbc4"
  color["base0d"] = "#89ddff"
  color["base0e"] = "#82aaff"
  color["base0f"] = "#ec5f67"

  fg[NORMAL]   = @base05
  bg[NORMAL]   = @base01
  text[NORMAL] = @base05
  fg[PRELIGHT] = @base01
  bg[PRELIGHT] = @base05

  font_name = "Operator Mono weight=350 12"
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @base0d
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @base08
  fg[NORMAL]   = @base08
}

style "taffybar-workspace-border-active" = "taffybar-default" {
  bg[NORMAL] = @base05
}
style "taffybar-workspace-border-visible" = "taffybar-default" {
  bg[NORMAL] = @base05
}
style "taffybar-workspace-border-empty" = "taffybar-default" {
  bg[NORMAL] = @base05
}
style "taffybar-workspace-border-hidden" = "taffybar-default" {
  bg[NORMAL] = @base05
}
style "taffybar-workspace-border-urgent" = "taffybar-default" {
  bg[NORMAL] = @base05
}
style "taffybar-windowswitcher-menu" = "taffybar-default" {
  bg[NORMAL] = @base01
  fg[NORMAL] = @base01
  fg[PRELIGHT] = @base05
  bg[PRELIGHT] = @base01
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*" style "taffybar-windowswitcher-menu"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"

widget "*Workspace-Border-*-active*"     style "taffybar-workspace-border-active"
widget "*Workspace-Border-*-visible*"    style "taffybar-workspace-border-visible"
widget "*Workspace-Border-*-empty*"      style "taffybar-workspace-border-empty"
widget "*Workspace-Border-*-hidden*"     style "taffybar-workspace-border-hidden"
widget "*Workspace-Border-*-urgent*"     style "taffybar-workspace-border-urgent"

widget "*Workspace-Container-*-active*"  style "taffybar-default"
widget "*Workspace-Container-*-visible*" style "taffybar-default"
widget "*Workspace-Container-*-empty*"   style "taffybar-default"
widget "*Workspace-Container-*-hidden*"  style "taffybar-default"
widget "*Workspace-Container-*-urgent*"  style "taffybar-default"
