@define-color active-window-color #374140;
@define-color urgent-window-color #D9CB9E;
@define-color font-color #cdd3de;
@define-color background #2c393f;
@define-color active #89ddff;
@define-color active-dim #00aa00;

.Contents {
    padding: 3px;
    border-radius: 15px;
}

.Active .Contents {
    background-color: @active;
}

.Active .WorkspaceLabel {
    color: @active;
}

.Visible .WorkspaceLabel {
    color: @active;
}

.Urgent {
    background-color: @urgent-window-color;
}

.InnerPad {
    padding: 4px;
}

.WorkspaceLabel {
    border-radius: 15px;
    padding: 0;
    padding-right: 3pt;
}

.IconContainer {
    transition: background-color .5s;
    border-radius: 5px;
}

.IconContainer.Active {
    transition: background-color .5s;
    background-color: @active-window-color;
}

.IconContainer.Urgent {
    transition: background-color .5s;
    background-color: @urgent-window-color;
}

.IconContainer.Minimized .IconImage {
    transition: opacity .5s;
    opacity: .3;
}

.IconImage {
    transition: opacity .5s;
    padding: 2px;
    opacity: 1;
}

#WindowSwitcher {
}

.Taffybar * {
    color: @font-color;
    background-color: @background;
    font-family: "Operator Mono", monospace;
    font-size: 10pt;
    border-width: 0;
}

.Taffybar {
}
